/VMware-Horizon-Client-*.bundle
/horizon-client-linux-*-document.pdf
/horizon-client-linux-*-release-notes.html
/linux-client-installation.pdf
/horizon-client-linux-installation.pdf
/vmware-view-client-linux-*.tar.gz
