[Unit]
Description=USB device redirection from your local computer to the remote desktop
Documentation=

[Service]
EnvironmentFile=/etc/vmware/bootstrap
Type=forking
ExecStart=/usr/bin/vmware-view-usbd

[Install]
WantedBy=multi-user.target
